.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
    background-color: #10555A;
    margin-top: 10px;
}

.footer .footer_text a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin: 15px;
}